html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  background: #f3f3f3
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #449b82;
}

a:hover {
  text-decoration: underline;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt {
  float: left;
  width: 200px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500
}

dl.metrics {
  text-align: center;
}

dl.metrics dt {
  width: 35%;
}

dl.metrics dd {
  margin-left: 20px
}

dt:after {
  content: " : ";
}

dd {
  margin-left: 220px;
}

.content-file {
  height: 650px;
  overflow: auto;
  clear: both;
  white-space: pre;
  background: #f5f5f5;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 90%;
}

th {
  text-align: left
}

.nomad-table-responsive {
  border: 0;
  width: 100%;
  margin-bottom: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
